:root{

	/* CORES */
	--vermelho: #771113;
	--cinzaescuro: #191a1f;
	--cinzaclaro: #858688;


	/* FONTS */
	--montserrat: 'Montserrat', sans-serif;
	--quantify: quantify;
	--pixi: pixi;
}

@font-face {
	font-family: quantify;
	src: url('fonts/Quantify.otf');
}

@font-face {
	font-family: pixi;
	src: url('fonts/Piximisa.otf');
}

*{
	margin: 0;
	padding: 0;
}

.pg-inicial{
    font-family: var(--montserrat);
}
.pg-inicial li{
	list-style: none;
}

/* MENU */
	.side-menu{
		width: 100%;
	    max-width: 240px;
		background-color: var(--cinzaescuro);
	    min-height: 100vh;
        position: fixed;
	}
		.side-menu .logo{
			width: 100%;
		    max-width: 240px;
		}
		.side-menu .logo img{
			width: 100%;
		    max-width: 240px;
			background-color: #fff;
			}
			.side-menu .menu{
				width: 100%;
			    max-width: 240px;
			    margin: 30px auto 0;
			    position: relative;
			}
			.side-menu .menu li{
				font-family: var(--quantify);
				text-align: center;
				line-height: 48px;
			}
			.side-menu .menu li:hover{
				background-color: var(--vermelho);
				-webkit-transition: ease .2s;
				-moz-transition: ease .2s;
				-o-transition: ease .2s;
				transition: ease .2s;
			}
				.side-menu .menu li a{
					text-decoration: none;
					font-size: 28px;
					color: #fff;
				}
			.side-menu .social{
				text-align: center;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				margin-bottom: 10px;
			}
				.side-menu .social a{

				}
					.side-menu .social a{
						padding: 0 2px;
						width: 28px;
					}
					.side-menu .social .fb{
						    width: 20px;
					}
	.side-menu-mobile{
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 9;
		background-color: var(--cinzaescuro);
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		min-height: 100vh;
		max-width: 100%;
	}
		.side-menu-mobile span{
			font-family: var(--quantify);
			font-size: 20px;
			cursor: pointer;
			color: #fff;
			margin: 5px 10px;
			position: absolute;
			top: 0;
			right: 0;
		}
		.side-menu-mobile span:hover {
			color: var(--cinzaclaro);
			transition: all .2s;
			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			-o-transition: all .2s;
		}
			.side-menu-mobile .logo{
				width: 100%;
				max-width: 100%;
				background: #771113;
				text-align: center;
			}
			.side-menu-mobile .logo img{
				width: 100%;
				max-width: 170px;
				background-color: #fff;
				margin: 0 auto;
				}
				.side-menu-mobile .menu{
					width: 100%;
					max-width: 558px;
					margin: 30px auto 0;
					text-align: center;
				}
				.side-menu-mobile .menu li{
					font-family: var(--quantify);
					line-height: 48px;
					text-align: center;
					display: inline-block;
					width: 100%;
					max-width: 190px;
				}
				.side-menu-mobile .menu li:hover{
					background-color: var(--vermelho);
					-webkit-transition: ease .2s;
					-moz-transition: ease .2s;
					-o-transition: ease .2s;
					transition: ease .2s;
				}
					.side-menu-mobile .menu li a{
						text-decoration: none;
						font-size: 28px;
						color: #fff;
					}
				.side-menu-mobile .social{
					text-align: center;
					margin: 25px 0 0;
				}
					.side-menu-mobile .social a{

					}
						.side-menu-mobile .social a{
							padding: 0 2px;
							width: 28px;
						}
						.side-menu-mobile .social .fb{
						    width: 20px;
						}
	.side-menu-mobile.open{
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
		left: 0;
	}
	.open-menu{
		display: none;
		background-color: var(--cinzaescuro);
		position: fixed;
	    top: 5px;
		left: 0;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		z-index: 1;
		padding: 7px 10px 1px 10px;
	}
	.open-menu:hover{
    	background-color: #880001;
		-webkit-transition: ease .2s;
		-moz-transition: ease .2s;
		-o-transition: ease .2s;
		transition: ease .2s;
	}
		.open-menu span{
			width: 43px;
			height: 3px;
			background-color: #fff;
			display: block;
			margin: 0 auto 7px;
			position: relative;
			border-radius: 15px;
		}
	.conteudo{
		padding-left: 240px;
	    font-family: var(--pixi);
	}
		.conteudo .parallax{
			background-image: url('../img/back-logo-principal.png');
			background-position: center;
			background-size: cover;
			background-attachment: fixed;
  			background-repeat: no-repeat;
		    min-height: 698px;
		}
		.conteudo .principal{

		}
			.conteudo .principal .logo-principal{
				width: 100%;
				max-width: 715px;
				margin: 0 auto;
				padding: 140px 0;
				text-align: center;
			}
				.conteudo .principal .logo-principal img{
					width: 100%;
					max-width: 715px;
				}

.side-menu-mobile .social a i,
.side-menu .social a i{
    color: #fff;
    font-size: 18px;
}

.side-menu-mobile .social a i:hover,
.side-menu .social a i:hover {
	color: var(--cinzaclaro);
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}


/* POR QUE A IDEO */
.conteudo .porque-aideo{
	min-height: 100vh;
	position: relative;
}
.conteudo .porque-aideo::before{
	content: "";
	display: block;
	width: 510px;
	height: 715px;
	position: absolute;
    right: 0;
    bottom: 0px;
	background-image: url(../img/back-porqueaideo.png);
	background-size: cover;
	background-repeat: no-repeat;
}
	.conteudo .porque-aideo .titulo{
		width: 100%;
		max-width: 1025px;
		margin: 45px auto 25px;
	}
		.conteudo .porque-aideo .titulo h1{
			text-transform: uppercase;
			color: var(--cinzaclaro);
			font-size: 55px;
			border-bottom: 3px solid var(--cinzaclaro);
			padding: 10px 0;
			font-weight: lighter;
			width: 45%;
		}
		.conteudo .porque-aideo .txt {
			width: 100%;
			max-width: 1027px;
			margin: 0 auto;
		}
			.conteudo .porque-aideo .txt p{
				width: 55%;
				color: var(--cinzaclaro);
			    font-size: 18px;
				font-family: var(--montserrat);
				text-indent: 25px;
				padding: 0 0 55px;
			}

/* SOBRE EQUIPE */
.conteudo .sobre-nos{

}
	.conteudo .sobre-nos .texto{
		color: var(--cinzaclaro);

	}
		.conteudo .sobre-nos .texto .titulo{
			width: 100%;
			max-width: 470px;
			margin: 25px auto;
		}
			.conteudo .sobre-nos .texto .titulo h2{
				font-size: 55px;
				text-transform: uppercase;
				border-bottom: 3px solid var(--cinzaclaro);
				padding: 10px 0;
				font-weight: lighter;
			}
		.conteudo .sobre-nos .texto .cont{
			width: 100%;
			max-width: 470px;
			margin: 0 auto;
		}
			.conteudo .sobre-nos .texto .cont p{
				font-size: 17px;
				font-family: var(--montserrat);
			}
	.conteudo .sobre-nos .imagem{

	}
		.conteudo .sobre-nos .imagem figure{

		}
			.conteudo .sobre-nos .imagem figure img{
				width: 100%;
			}
.conteudo .sobre-nos .colMobile{
	display: none;
}

/* SERVIÇOS */
.conteudo .servicos{
	min-height: 100vh;
	padding: 4% 0;
}
	.conteudo .servicos ul{
		color: var(--cinzaclaro);
		width: 100%;
		max-width: 795px;
		margin: 0 auto;
		text-align: center;
	}
		.conteudo .servicos ul li{
			list-style: none;
			display: inline-block;
			width: 100%;
			max-width: 395px;
			margin: 30px auto;
		    text-align: initial;
		}
			.conteudo .servicos ul li img{
				width: 100%;
				max-width: 80px;
				vertical-align: initial;
			}
			.conteudo .servicos ul li .servicos-texto{
				display: inline-block;
				width: 100%;
				max-width: 300px;
				padding: 0 0 0 35px;
			}
				.conteudo .servicos ul li .servicos-texto h2{
					font-size: 22px;
				}
				.conteudo .servicos ul li .servicos-texto p{
					font-family: var(--montserrat);
				}

/* CLIENTES */
.conteudo .clientes{
	color: var(--cinzaclaro);
    min-height: 100vh;
}
	.conteudo .clientes .principais-clientes{
		width: 100%;
		max-width: 1008px;
		margin: 25px auto;
	}
		.conteudo .clientes .principais-clientes h2{
			font-size: 50px;
			text-transform: uppercase;
			border-bottom: 3px solid var(--cinzaclaro);
			padding: 10px 0;
			font-weight: lighter;
		    width: 42%;
		}
	.conteudo .clientes .img-clientes{
		width: 100%;
		max-width: 865px;
		margin: 46px auto;
		box-shadow: 0 0 40px -5px #c5c5c5;
		padding: 12px 15px;
		overflow: auto;
	    max-height: 376px;
	    text-align: center;
	}
	.conteudo .clientes .img-clientes::-webkit-scrollbar{
		width: 12px;
	}
	.conteudo .clientes .img-clientes::-webkit-scrollbar-track{
		margin: 5px;
	}
	.conteudo .clientes .img-clientes::-webkit-scrollbar-track-piece{

	}
	.conteudo .clientes .img-clientes::-webkit-scrollbar-thumb{
		background-color: var(--cinzaclaro);
		border-radius: 10px;
	}
	.conteudo .clientes .img-clientes::-webkit-scrollbar-corner{

	}
	.conteudo .clientes .img-clientes::-webkit-resizer{

	}
		.conteudo .clientes .img-clientes li{
			display: inline-block;
			width: 100%;
			max-width: 202px;
			text-align: center;
		}
		.conteudo .clientes .img-clientes li:hover{
			box-shadow: 0 0 16px -5px #525252;
			border-radius: 6px;
			-webkit-transition: ease .3s;
			-moz-transition: ease .3s;
			-o-transition: ease .3s;
			transition: ease .3s;
		}
			.conteudo .clientes .img-clientes li a{

			}
				.conteudo .clientes .img-clientes li a img{
					width: 100%;
					max-width: 130px;
					margin: 20px auto;
				}
				.conteudo .clientes .img-clientes li a .menor{
					max-width: 105px;
				}
	.conteudo .clientes .desc{
		width: 100%;
		max-width: 818px;
		margin: 48px auto;
	}
		.conteudo .clientes .desc h5{
			font-family: var(--montserrat);
			font-style: italic;
			font-size: 24px;
			line-height: 30px;
			text-align: center;
		}

/* PARCEIROS */
.conteudo .parceiros{
	color: var(--cinzaclaro);
    min-height: 100vh;
}
	.conteudo .principais-parceiros{
		width: 100%;
		max-width: 1008px;
		margin: 25px auto;
	}
		.conteudo .principais-parceiros h2{
			font-size: 55px;
			text-transform: uppercase;
			border-bottom: 3px solid var(--cinzaclaro);
			padding: 10px 0;
			font-weight: lighter;
		    width: 42%;
		}
	.conteudo .img-parceiros{
		width: 100%;
		max-width: 865px;
		margin: 46px auto;
		box-shadow: 0 0 40px -5px #c5c5c5;
		padding: 12px 15px;
		overflow: auto;
	    max-height: 376px;
	    text-align: center;
	}
	.conteudo .img-parceiros::-webkit-scrollbar{
		width: 12px;
	}
	.conteudo .img-parceiros::-webkit-scrollbar-track{
		margin: 5px;
	}
	.conteudo .img-parceiros::-webkit-scrollbar-track-piece{

	}
	.conteudo .img-parceiros::-webkit-scrollbar-thumb{
		background-color: var(--cinzaclaro);
		border-radius: 10px;
	}
	.conteudo .img-parceiros::-webkit-scrollbar-corner{

	}
	.conteudo .img-parceiros::-webkit-resizer{

	}
		.conteudo .img-parceiros li{
			display: inline-block;
			width: 100%;
			max-width: 202px;
			text-align: center;
		}
		.conteudo .img-parceiros li:hover {
			box-shadow: 0 0 16px -5px #525252;
			border-radius: 6px;
			-webkit-transition: ease .3s;
			-moz-transition: ease .3s;
			-o-transition: ease .3s;
			transition: ease .3s;
		}
			.conteudo .img-parceiros li a{

			}
				.conteudo .img-parceiros li a img{
					width: 100%;
					max-width: 118px;
					margin: 20px auto;
				}
				.conteudo .img-parceiros li a .menor{
			        max-width: 80px;
				}
	.conteudo .parceiros .desc {
		width: 100%;
		max-width: 818px;
		margin: 48px auto;
	}
		.conteudo .parceiros .desc h5{
			font-family: var(--montserrat);
			font-style: italic;
			font-size: 24px;
			line-height: 30px;
			text-align: center;
		}

/* FOOTER */
footer{
	position: relative;
	display: grid;
	min-height: 100vh;
}
	footer .footer{
		background-image: url(../img/back-footer.png);
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		background-attachment: fixed;
		min-height: 592px;
		padding-top: 70px;
	}
		footer .footer .titulo-footer{
			width: 100%;
			max-width: 544px;
			margin: 0 auto;
			position: relative;
		}
		footer .footer .titulo-footer::before{
			content: "";
			display: block;
			width: 406px;
			height: 3px;
			background: #fff;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		footer .footer .titulo-footer h5{
			font-size: 62px;
			color: #fff;
			font-family: var(--pixi);
			text-align: center;
			margin: 75px auto 0;
			padding-bottom: 8px;
		}
		footer .footer .contato{

		}
			footer .footer .contato .redes-sociais{
				width: 100%;
				max-width: 175px;
				text-align: center;
				margin: 40px auto 0;
			}
				footer .footer .contato .redes-sociais li{
					width: 100%;
				    max-width: 30px;
					display: inline-block;
					text-align: center;
				}
				footer .footer .contato .redes-sociais .fb-footer{
					max-width: 25px;
				}
					footer .footer .contato .redes-sociais li a{

					}
						footer .footer .contato .redes-sociais li a i{
						    font-size: 28px;
    						color: #fff;
						}
						footer .footer .contato .redes-sociais li a i:hover{
							color: var(--cinzaclaro);
							-webkit-transition: all .2s;
							-o-transition: all .2s;
							transition: all .2s;
						}
			footer .footer .contato .telefone{
				background-color: rgba(25, 26, 31, 0.92);
				width: 100%;
				max-width: 475px;
				margin: 20px auto 108px;
				padding: 14px 0;
				border-radius: 20px;
			}
			footer .footer .contato .telefone p{
				text-align: center;
				color: #fff;
				font-family: var(--montserrat);
				font-size: 27px;
				font-style: italic;
				margin: 0;
				line-height: 35px;
			}
	footer .copyright{
		background-color: var(--cinzaescuro);
		padding: 40px 0;
	}
		footer .copyright .menu-footer{
			width: 86%;
			margin: 0;
			display: inline-block;
		}
			footer .copyright .menu-footer li{
				list-style: none;
				width: 100%;
				max-width: 130px;
				display: inline-block;
				text-align: center;
				border: 1px solid #fff;
				border-radius: 20px;
				padding: 2px 0;
				margin: 0 3px;
			}
			footer .copyright .menu-footer li a{
				text-decoration: none;
				color: #fff;
				font-family: var(--quantify);
			}
			footer .copyright .menu-footer li:hover a{
				color: var(--vermelho);
				-webkit-transition: ease .2s;
				-moz-transition: ease .2s;
				-o-transition: ease .2s;
				transition: ease .2s;
			}
			footer .copyright .menu-footer li:hover{
				border-color: var(--vermelho);
				-webkit-transition: ease .2s;
				-moz-transition: ease .2s;
				-o-transition: ease .2s;
				transition: ease .2s;
			}
		footer .copyright .redes-copy{
			display: inline-block;
			text-align: right;
			width: 100%;
			margin: 0 auto;
			max-width: 150px;
		}
			footer .copyright .redes-copy li{
				width: 30px;
				height: 30px;
				display: inline-block;
				text-align: center;
				border: 1px solid #fff;
				border-radius: 100%;
			    padding: 5px 0px;
				margin: 0 3px;
			}
			footer .copyright .redes-copy li:hover{
				border-color: var(--cinzaclaro);
			}
			footer .copyright .redes-copy li:hover a i{
				color: var(--cinzaclaro);
				-webkit-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;
			}
				footer .copyright .redes-copy li a{

				}
				footer .copyright .redes-copy li a i{
				    font-size: 16px;
    				color: #fff;
				}
	footer .fb-footer a i{
	    font-size: 24px !important;
	}

/* EXTRAS */

/*@MEDIA QUERY*/
  @media(max-width: 1200px){
  	.conteudo .porque-aideo .txt {
  		max-width: 885px;
  	}
  	.conteudo .porque-aideo .titulo {
  		max-width: 890px;
  		margin: 35px auto 25px;
  	}
  	.conteudo .sobre-nos .texto .cont {
  		max-width: 434px;
  	}
  	.conteudo .clientes .principais-clientes h2 {
	    width: 51%;
	}
	.conteudo .clientes .principais-clientes {
	    max-width: 860px;
	}
	.conteudo .principais-parceiros {
		max-width: 865px;
	}
  }

  @media(max-width: 991px){
  	.conteudo {
  		padding-left: 196px;
  	}
  	.conteudo .principal .logo-principal img {
  		max-width: 405px;
  		margin: 0 auto;
  	}
  	.conteudo .principal .logo-principal {
  		max-width: 450px;
	    padding: 110px 0 0;
  	}
  	.conteudo .principal {
  		width: 100%;
  		min-height: 538px;
  	}
  	.side-menu {
  		max-width: 196px;
  	}
  	.side-menu .menu li a {
  		font-size: 25px;
  	}
  	.conteudo .porque-aideo .titulo {
  		max-width: 700px;
  	}
  	.conteudo .porque-aideo .titulo h1 {
  		width: 61%;
	    font-size: 52px;
  	}
  	.conteudo .porque-aideo .txt {
  		max-width: 703px;
  	}
  	.conteudo .porque-aideo .txt p {
  		width: 68%;
	    font-size: 17px;
  	}
  	.conteudo .porque-aideo::before {
  		width: 464px;
  		height: 650px;
  	}
  	.conteudo .sobre-nos .colMobile{
  		display: block;
  	}
  	.conteudo .sobre-nos .colDesk{
  		display: none;
  	}
  	.conteudo .sobre-nos .imagem figure {
  		max-width: 600px;
  		margin: 0 auto;
  	}
  	.conteudo .sobre-nos .imagem figure img {
  		max-width: 600px;
  	}
  	.conteudo .sobre-nos .texto .titulo {
  		max-width: 548px;
  		margin: 52px auto 0;
  	}
  	.conteudo .sobre-nos .texto .cont {
  		max-width: 550px;
  	}
  	.conteudo .clientes .img-clientes,
  	.conteudo .img-parceiros{
  		max-width: 692px;
  	}
  	.conteudo .clientes .img-clientes li,
  	.conteudo .img-parceiros li{
  		max-width: 163px;
  	}
  	.conteudo .clientes .principais-clientes h2,
  	.conteudo .principais-parceiros h2{
  		width: 63%;
  	}
  	.conteudo .clientes .principais-clientes,
  	.conteudo .principais-parceiros{
  		max-width: 682px;
  	}
  	.conteudo .clientes .desc h5,
  	.conteudo .parceiros .desc h5{
  		font-size: 20px;
  	}
  	footer .copyright .menu-footer {
  		margin: 0;
  		text-align: center;
  		width: 100%;
  	}
  	footer .copyright .menu-footer li {
  		max-width: 110px;
  		text-align: center;
  		margin: 0 3px;
  	}
  	footer .copyright .redes-copy {
  		text-align: center;
  		max-width: 100%;
  		margin: 10px auto 0;
  	}
  	.conteudo .parallax {
  		background-attachment: initial;
  	}
  	.conteudo .clientes .img-clientes li, .conteudo .img-parceiros li {
  		max-width: 156px;
  	}
  }

  @media(max-width: 890px){
	.conteudo .img-parceiros li a .menor {
		max-width: 74px;
	}
	.conteudo .img-parceiros li a img {
		max-width: 100px;
	}
	.conteudo .clientes .img-clientes li a .menor {
		max-width: 82px;
	}
	.conteudo .clientes .img-clientes li a img {
		max-width: 114px;
	}
	.conteudo .clientes .principais-clientes,
	.conteudo .principais-parceiros {
		max-width: 614px;
	}
	.conteudo .clientes .principais-clientes h2,
	.conteudo .principais-parceiros h2 {
		width: 68%;
	}
	.conteudo .clientes .desc,
	.conteudo .parceiros .desc{
		max-width: 645px;
	}
	.conteudo .clientes .desc h5,
	.conteudo .parceiros .desc h5 {
		font-size: 18px;
	}
	.conteudo .clientes .img-clientes,
	.conteudo .img-parceiros {
		max-width: 620px;
	}
	.conteudo .clientes .img-clientes li, .conteudo .img-parceiros li {
		max-width: 136px;
	}
	.conteudo {
		padding-left: 175px;
	}
	.side-menu .social {
		top: 263px;
	}
	.side-menu {
		max-width: 175px;
	}
	.side-menu .menu li a {
		font-size: 23px;
	}
	.side-menu .menu li {
		line-height: 40px;
	}
	.conteudo .porque-aideo .txt p {
		width: 82%;
		font-size: 17px;
	}
	.conteudo .porque-aideo .txt {
		max-width: 603px;
	}
	.conteudo .porque-aideo .titulo {
		max-width: 600px;
	}
	.conteudo .porque-aideo .titulo h1 {
		width: 63%;
		font-size: 52px;
	}
	.conteudo .porque-aideo {
		min-height: 580px;
	}
	.conteudo .porque-aideo::before {
		width: 430px;
		height: 602px;
	}
	.conteudo .porque-aideo .txt p {
		padding: 0px 0 40px;
	}
  }

  @media(max-width: 768px){
  	.side-menu{
		display: none;
	}
	.open-menu{
		display: block;
	}
	.conteudo {
		padding-left: 0;
	}
	footer .copyright .redes-copy {
		margin: 12px auto 0;
	}
	.conteudo .parallax {
		background-position: left;
	}
	.conteudo .parallax {
		background-attachment: initial;
	}
	footer .footer {
	    background-attachment: initial;
  	}
  	.conteudo .porque-aideo {
  		min-height: 525px;
  	}
  	.conteudo .porque-aideo::before {
  		width: 430px;
  		height: 602px;
  	}
  }

  @media(max-width: 610px){
  	.conteudo .porque-aideo .titulo {
  		max-width: 530px;
  	}
  	.conteudo .porque-aideo .titulo h1 {
  		width: 68%;
  		font-size: 52px;
  	}
  	.conteudo .porque-aideo .txt {
  		max-width: 530px;
  	}
  	.conteudo .porque-aideo .txt p {
  		width: 100%;
  	}
  	.conteudo .clientes .principais-clientes,
  	.conteudo .principais-parceiros {
  		max-width: 485px;
  	}
  	.conteudo .clientes .principais-clientes h2,
  	.conteudo .principais-parceiros h2 {
  		width: 92%;
  	}
  	.conteudo .clientes .desc,
  	.conteudo .parceiros .desc {
  		max-width: 508px;
  	}
  	.conteudo .clientes .img-clientes li,
  	.conteudo .img-parceiros li {
  		max-width: 150px;
  		margin: 11px auto;
  	}
  	.conteudo .clientes .img-clientes,
  	.conteudo .img-parceiros {
  		max-width: 490px;
  	}
  	footer .copyright .menu-footer li {
  		max-width: 140px;
  		margin: 4px 3px;
  	}
  	footer .copyright .menu-footer {
  		margin: 0 auto;
  		max-width: 548px;
  		display: block;
  	}
  	footer .footer .contato .telefone {
  		max-width: 450px;
  		padding: 12px 0;
  	}
  	footer .footer .contato .telefone p {
  		font-size: 24px;
  		line-height: 33px;
  	}
  	footer .footer .titulo-footer h5 {
  		font-size: 57px;
	    margin: 15px auto 0;
  	}
  	footer .footer {
  		min-height: 520px;
  	}
  	footer .copyright {
  		padding: 10px 0;
  	}
  }

  @media(max-width: 520px){
  	.conteudo .principal .logo-principal {
  		padding: 85px 0 0;
  	}
  	.conteudo .principal .logo-principal img {
  		max-width: 330px;
  	}
  	.conteudo .principal {
  		min-height: 420px;
  	}
  	footer .footer .titulo-footer {
  		max-width: 422px;
  	}
  	footer .footer .titulo-footer h5 {
  		font-size: 48px;
  	}
  	footer .copyright {
  		padding: 15px 0;
  	}
  	footer .footer {
  		min-height: 430px;
  		padding-top: 38px;
  	}
  	footer .footer .contato .telefone {
  		max-width: 390px;
  		padding: 10px 0;
  	}
  	footer .footer .contato .telefone p {
  		font-size: 22px;
  		line-height: 33px;
  	}
  	.conteudo .porque-aideo .titulo {
  		max-width: 420px;
  	}
  	.conteudo .porque-aideo .titulo h1 {
  		width: 100%;
  		font-size: 52px;
  	}
  	.conteudo .porque-aideo .txt {
  		max-width: 420px;
  	}
  	.conteudo .sobre-nos .texto .cont {
  		max-width: 465px;
  	}
  	.conteudo .sobre-nos .texto .titulo h2 {
  		font-size: 50px;
  	}
  	.conteudo .sobre-nos .texto .titulo {
  		max-width: 425px;
  	}
  	.conteudo .clientes .img-clientes li, .conteudo .img-parceiros li {
  		max-width: 185px;
  		margin: 17px auto;
  	}
  	.conteudo .clientes .img-clientes,
  	.conteudo .img-parceiros {
  		max-width: 444px;
  	}
  	.conteudo .clientes .principais-clientes h2,
  	.conteudo .principais-parceiros h2 {
  		font-size: 44px;
  	}
  	.conteudo .clientes .principais-clientes,
  	.conteudo .principais-parceiros {
  		max-width: 430px;
  	}
  	.conteudo .clientes .img-clientes li a .menor {
  		max-width: 88px;
  	}
  	.conteudo .clientes .desc,
  	.conteudo .parceiros .desc {
  		max-width: 490px;
  	}
  	.conteudo .servicos ul li {
  		margin: 15px auto;
  	}
  	footer {
  		min-height: initial;
  	}
  }

  @media(max-width: 425px){
  	footer .copyright .menu-footer li {
  		max-width: 115px;
  		margin: 4px 3px;
  		padding: 0;
  	}
  	footer .copyright .menu-footer li a {
  		text-decoration: none;
  		color: #fff;
  		font-family: var(--quantify);
  		font-size: 12px;
  	}
  	.conteudo .principal .logo-principal {
  		max-width: 310px;
  		padding: 30px 0 0;
	    text-align: center;
  	}
  	.conteudo .principal .logo-principal img {
  		max-width: 310px;
  		margin: 0 auto;
  	}
  	.conteudo .principal {
  		background-repeat: no-repeat;
  		width: 100%;
	    min-height: 208px;
  	}
  	.conteudo .porque-aideo .txt {
  		max-width: 305px;
  	}
  	.conteudo .porque-aideo .titulo h1 {
  		width: 100%;
  		font-size: 45px;
  		text-align: center;
  	}
  	.conteudo .porque-aideo::before {
  		width: 314px;
  		height: 440px;
  	}
  	.conteudo .principal .logo-principal {
  		max-width: 310px;
  		padding: 30px 0 0;
  		text-align: center;
  	}
  	.conteudo .principal .logo-principal img {
  		max-width: 150px;
  		margin: 0 auto;
  	}
  	.conteudo .parallax {
  		background-position: top;
  	}
  	.conteudo .porque-aideo {
	    min-height: 455px;
  	}
  	.conteudo .sobre-nos .texto .titulo h2 {
  		font-size: 45px;
  		text-align: center;
  	}
  	.conteudo .sobre-nos .texto .cont {
  		max-width: 315px;
  	}
  	.conteudo .porque-aideo .txt p {
  		padding: 0px 0 30px;
	    font-size: 16px;
  	}
  	.conteudo .servicos ul li .servicos-texto {
  		max-width: 220px;
  		padding: 0px 0 0 12px;
  		text-align: initial;
  	}
  	.conteudo .servicos ul li img {
  		max-width: 62px;
  		vertical-align: initial;
  	}
  	.conteudo .servicos ul li .servicos-texto h2 {
  		font-size: 20px;
  	}
  	.conteudo .servicos ul li .servicos-texto p {
  		font-family: var(--montserrat);
  		font-size: 13px;
  	}
  	.conteudo .clientes .principais-clientes h2, .conteudo .principais-parceiros h2 {
  		width: 100%;
  		text-align: center;
  	}
  	.conteudo .clientes .img-clientes li, .conteudo .img-parceiros li {
  		max-width: 142px;
  		margin: 17px auto;
  	}
  	.conteudo .clientes .img-clientes, .conteudo .img-parceiros {
  		max-width: 270px;
  	}
  	.conteudo .clientes .img-clientes li a img {
  		max-width: 130px;
  		margin: 12px auto;
  	}
  	.conteudo .servicos ul {
  		max-width: 295px;
  	}
  	.conteudo .clientes .desc h5, .conteudo .parceiros .desc h5 {
  		font-size: 16px;
  	}
  	footer .footer .contato .redes-sociais .fb-footer {
  		max-width: 22px;
  	}
  	footer .footer .contato .redes-sociais .fb-footer a img {
  		width: 10px;
  	}
  	footer .footer .contato .redes-sociais li {
  		max-width: 27px;
  	}
  	footer .footer .contato .redes-sociais li a img {
  		width: 22px;
  	}
  	footer .footer .titulo-footer h5 {
  		font-size: 42px;
	    margin: 66px auto 0;
  	}
  	footer .footer .contato .telefone p {
  		font-size: 20px;
  		line-height: 30px;
  	}
  	footer .footer .titulo-footer {
  		max-width: 422px;
  	}
  	footer .copyright {
  		padding: 4px 0;
  	}
  	footer .footer .contato .telefone {
  		max-width: 390px;
  		padding: 10px 0;
  	}
  	footer .footer {
  		min-height: 390px;
  		padding-top: 0;
  	}
  	.conteudo .clientes .img-clientes, .conteudo .img-parceiros {
  		max-height: 505px;
  	}
  	footer .copyright .redes-copy li {
  		padding: 2px 7px;
  	}
  	footer .copyright .redes-copy li a img {
  		width: 13px;
  	}
  	footer .copyright .redes-copy li a .fb-copy {
  		width: 7px;
  	}
  	.side-menu-mobile .menu li a {
  		font-size: 26px;
  	}
  	footer .footer .titulo-footer::before {
  		width: 100%;
  	}
  	.conteudo .clientes .desc, .conteudo .parceiros .desc {
  		max-width: 335px;
  	}
  }

  @media(max-width: 320px){
  	.conteudo .porque-aideo .txt p {
  		padding: 0px 10px 15px;
  		font-size: 14px;
  	}
  	.conteudo .porque-aideo::before {
  		width: 252px;
  		height: 353px;
  	}
  	.conteudo .sobre-nos .texto .cont p {
  		font-size: 15px;
  		padding: 0 10px 0px;
  	}
  	.conteudo .sobre-nos .texto .titulo h2 {
  		font-size: 42px;
  		text-align: center;
  	}
  	.conteudo .servicos ul li img {
  		max-width: 60px;
  		vertical-align: initial;
  	}
  	.conteudo .clientes .principais-clientes h2, .conteudo .principais-parceiros h2 {
  		font-size: 40px;
  	}
  	.conteudo .clientes .img-clientes, .conteudo .img-parceiros {
  		max-width: 249px;
  	}
  	footer .copyright {
  		padding: 2px 0;
  	}
  	footer .copyright .menu-footer li {
  		max-width: 90px;
  		padding: 0;
  	}
  	footer .copyright .redes-copy li a img {
  		width: 12px;
  	}
  	footer .copyright .redes-copy li a .fb-copy {
  		width: 7px;
  	}
  	footer .copyright .redes-copy li {
  		width: 28px;
  		height: 28px;
  		padding: 1px 0;
  	}
  	footer .footer .contato .telefone p {
  		font-size: 19px;
  		line-height: 28px;
  	}
  	footer .footer .contato .telefone {
  		max-width: 280px;
  		padding: 7px 0;
  	}
  	footer .footer .titulo-footer h5 {
  		font-size: 36px;
  		margin: 55px auto 0;
  	}
  	footer .footer .titulo-footer::before {
  		width: 100%;
  	}
  	.conteudo .clientes .img-clientes li, .conteudo .img-parceiros li {
  		max-width: 100%;
  		margin: 13px auto;
  	}
  	.conteudo .servicos ul {
  		max-width: 284px;
  	}
  	.conteudo .porque-aideo .titulo h1 {
  		font-size: 40px;
  	}
  }